.app-container{
    display: grid;
    grid-template-areas: 
        "h h h h"
        "c c c c";

    .app-header{
        display: grid;
        grid-area: h;
        grid-template-areas: "l l l u";

        .user-profile{
            grid-area: u;
        }

        .app-logo{
            grid-area: l;
        }
    }


    .app-content{
        grid-area: c;
    }
}
