@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spotify</title>
    @RenderSection("Styles", required: false)

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>

